.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon {
  rect {
    fill: deeppink;
  }
  &.small {
    height: 25px;
  }
  &.medium {
    height: 50px;
  }
  &.large {
    height: 100px;
  }
}
