.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.8em;
  input {
    font-size: 1.8em;
  }
}

.personContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.person {
  display: flex;
  flex-direction: row;
  background-color: #ffeeff;
  margin: 0.5em;
  img {
    width: 75px;
    height: 75px;
  }
  > div {
    padding: 5px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
